<section class="w-full grid m-0 p-0">
  <div class="col-6 md:col-3 px-3">
    <p-button
      styleClass="w-full h-4rem bg-primary-400"
      (onClick)="createStudent()"
      label="+ Agregar Estudiante"
    ></p-button>
  </div>
  <div class="col-6 md:col-9 px-3">
    <p-overlayPanel #op>
      <div class="flex gap-2 flex-column align-items-center w-full">
        <div class="flex gap-1">
          <div class="text-xs text-700">Seleccionados</div>
          <div class="text-sm md:text-base text-center">
            {{ selectedStudents.length }}
          </div>
        </div>
        <p-button
          severity="contrast"
          label="Activar"
          [outlined]="true"
          icon="pi pi-check-square"
          styleClass="surface-50 border-0 w-8rem "
        />
        <p-button
          severity="warning"
          label="Editar"
          styleClass="bg-orange-500 border-0 text-white w-8rem"
        />
        <p-button
          severity="danger"
          label="Eliminar"
          styleClass="bg-red-600 border-0 text-white w-8rem"
        />
      </div>
    </p-overlayPanel>
    <div
      (click)="layoutService.isMobile() ? op.toggle($event) : ''"
      class="w-full h-4rem flex px-3 surface-50 justify-content-between"
      [ngClass]="layoutService.isMobile() ? 'cursor-pointer hover:surface-50' : ''"
    >
      <div class="flex gap-2 align-items-center">
        <i class="pi pi-address-book px-2 text-2xl"></i>
        <div class="flex flex-column gap-1">
          <div class="text-xs text-400">Total de estudiantes</div>
          <div class="text-sm md:text-base">
            {{ students().length }} estudiante(s)
          </div>
        </div>
      </div>
      @if (!layoutService.isMobile()) {
      <div class="flex gap-2 align-items-center">
        <div class="flex flex-column gap-1">
          <div class="text-xs text-400">Seleccionados</div>
          <div class="text-sm md:text-base text-center">
            {{ selectedStudents.length }}
          </div>
        </div>
        <p-button
          severity="contrast"
          label="Activar"
          [outlined]="true"
          icon="pi pi-check-square"
          styleClass="bg-white border-0 "
        />
        <p-button
          severity="warning"
          label="Editar"
          styleClass="bg-orange-500 border-0 text-white"
        />
        <p-button
          severity="danger"
          label="Eliminar"
          styleClass="bg-red-600 border-0 text-white"
        />
      </div>
      }
    </div>
  </div>
</section>

<div class="px-3">
  <div class="w-full border-300 border-round mt-4 overflow-hidden">
    <p-table
      [value]="students()"
      styleClass="p-datatable-sm p-datatable-striped "
      [paginator]="true"
      dataKey="id_student"
      [rows]="10"
      [(selection)]="selectedStudents"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} estudiantes"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="pl-5 surface-50 border-round-left">
            <p-tableHeaderCheckbox />
          </th>
          <th
            pSortableColumn="name"
            class="white-space-nowrap surface-50 h-3rem"
          >
            Nombre <p-sortIcon class="ml-8" field="name" />
          </th>
          <th
            pSortableColumn="course.course_name"
            class="white-space-nowrap surface-50 h-3rem"
          >
            Curso <p-sortIcon class="ml-8" field="course.course_name" />
          </th>

          <th
            pSortableColumn="phone"
            class="white-space-nowrap surface-50 h-3rem"
          >
            Celular de padre o tutór<p-sortIcon class="ml-8" field="phone" />
          </th>
          <th
            pSortableColumn="createAt"
            class="white-space-nowrap surface-50 h-3rem"
          >
            Fecha de registro <p-sortIcon class="ml-8" field="createAt" />
          </th>
          <th class="surface-50 border-round-right"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-student>
        @if (loading()) { @for (skeleton of skeletonTab; track $index) {
        <tr>
          <td class="pl-3 flex gap-2 align-items-center">
            <p-skeleton size="2rem" shape="circle"></p-skeleton>
            <p-skeleton height="1rem" width="8rem"></p-skeleton>
          </td>
          <td>
            <p-skeleton height="1rem" width="9rem"></p-skeleton>
          </td>
          <td>
            <p-skeleton height="1rem" width="9rem"></p-skeleton>
          </td>
          <td>
            <p-skeleton height="1rem" width="9rem"></p-skeleton>
          </td>
          <td class="flex gap-2 align-items-center">
            <p-skeleton size="2rem" shape="circle"></p-skeleton>
            <p-skeleton size="2rem" shape="circle"></p-skeleton>
            <p-skeleton size="2rem" shape="circle"></p-skeleton>
          </td>
        </tr>
        } } @else {
        <tr>
          <td class="pl-5">
            <p-tableCheckbox [value]="student" />
          </td>
          <td class="">
            <div class="flex gap-2 align-items-center">
              @if (student.photo !== '') {
              <div class="h-2rem w-2rem surface-200 border-circle">
                <p-image
                  [src]="student.photo"
                  [preview]="true"
                  imageClass="h-2rem w-2rem border-circle"
                  [alt]="student.name"
                />
              </div>
              }
              <span>{{ student.name+ ' ' + student.lastname }} </span>
            </div>
          </td>
          <td>
            <div class="flex align-items-center">
              @if(student.course){
                <span>{{ student.course.course_name + ' ' + student.course.parallel }} </span>
              } @else {
                <span class="text-600  text-sm">Sin curso a cargo</span>
              }
            </div>
          </td>
          <td>
            <div class="flex align-items-center cursor-pointer"
            (click)="openWhatsApp(student.code_country + student.tutor_phone)">
              <i class="pi pi-whatsapp text-green-500 mr-2 "></i>
              <span class="hover:underline">{{ student.tutor_phone }} </span>
            </div>
          </td>
          <td>{{ student.created_at.split('T')[0] }}</td>
          <td class="white-space-nowrap">
            <p-button
              severity="secondary"
              icon="pi pi-pencil"
              [rounded]="true"
              [text]="true"
              styleClass="h-2rem w-2rem ml-2"
              (onClick)="showStudent(student)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              severity="secondary"
              [rounded]="true"
              [text]="true"
              (onClick)="deleteStudent(student)"
              styleClass="h-2rem w-2rem ml-2"
            ></p-button>
          </td>
        </tr>
        }
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            <app-card-empty-list nameEmptyList="estudiantes"></app-card-empty-list>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-toast position="top-center"></p-toast>
<p-confirmDialog styleClass="w-auto md:w-5" position="bottom"></p-confirmDialog>
