<div
  class="py-3 flex flex-column align-items-center transition-colors transition-duration-500  hover:bg-black-alpha-30 border-round border-300 gap-2"
>
  <span class="align-items-center jusitfy-content-center text-2xl font-semibold"
    >{{"¡Hola " + nameUser + "!"}}</span
  >
  <span
    class="text-500 align-items-center jusitfy-content-center text-center md:px-5 text-xl font-medium mt-2"
  >
  <i class="pi pi-info-circle text-xl text-primary "></i> {{'No encontramos ' + nameEmptyList + ' en el módulo'}}
  </span>

  <span
  class="text-500 align-items-center jusitfy-content-center text-center md:px-5 text-xl font-medium -mt-1"
  >
  Porfavor crea uno para continuar
  </span>
  <div
    class="w-15rem  border-circle flex justify-content-center align-items-center -mt-1"
  >
    <img
      src="../../../assets/empty.svg"
      alt="sad_face"
      class="w-full drop-shadow"
    />
  </div>
</div>
