<div
  class="w-20rem -ml-4 bg-white h-screen fixed shadow-2 align-self-end flex flex-column transition-ease-in-out transition-duration-500 align-items-center z-2 overflow-auto"
>
  <div
    class="w-full px-3 py-2 flex justify-content-between align-items-center mt-4"
  >
    <div class="flex gap-2 align-items-center">
      <p-button
        severity="secondary"
        icon="pi pi-comment text-500 text-lg"
        [text]="true"
        styleClass="h-2rem w-2rem relative"
      >
        <div
          style="height: 8px; width: 8px"
          class="absolute top-0 right-0 border-circle bg-primary-300 mt-1 mr-1"
        ></div>
      </p-button>
      <p-button
        severity="secondary"
        icon="pi pi-bell text-500 text-lg"
        [text]="true"
        styleClass="h-2rem w-2rem"
      />
      <p-button
        severity="secondary"
        icon="pi pi-cog text-500 text-lg"
        [text]="true"
        styleClass="h-2rem w-2rem"
      />
    </div>
    <div
      class="w-3rem h-3rem bg-primary opacity-80 border-round-lg align-items-center flex justify-content-center"
    >
      <i class="pi pi-user text-2xl text-white"></i>
    </div>
  </div>
  <div class="flex align-items-center justify-content-center w-full">
    <p-calendar class="max-w-full" [inline]="true"></p-calendar>
  </div>
  <div class="flex flex-column my-3 w-full px-3">
    <div class="w-full flex justify-content-between">
      <div class="font-bold">Tareas de casa:</div>
      <i class="pi pi-ellipsis-h text-400"></i>
    </div>
    <div class="w-full flex gap-3 align-items-center mt-3">
      <i class="pi pi-circle text-3xl text-400"></i>
      <div class="flex w-full flex-column gap-1 pr-2">
        <div class="text-xxs">Sumar los ejercicios</div>
        <div class="flex w-full justify-content-between gap-2">
          <div class="text-xxs text-500">Matemáticas</div>
          <div class="text-xs font-semibold">
            19/<span class="text-primary">09</span>/2024
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex gap-3 align-items-center mt-3">
      <i class="pi pi-check-circle text-3xl text-green-400"></i>
      <div class="flex w-full flex-column gap-1 pr-2">
        <div class="text-xxs">Elabora 10 oraciones</div>
        <div class="flex w-full justify-content-between gap-2">
          <div class="text-xxs text-500">Lenguaje</div>
          <div class="text-xs font-semibold">
            18/<span class="text-primary">09</span>/2024
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex gap-3 align-items-center mt-3">
      <i class="pi pi-check-circle text-3xl text-green-400"></i>
      <div class="flex w-full flex-column gap-1 pr-2">
        <div class="text-xxs">Número naturales y enteros</div>
        <div class="flex w-full justify-content-between gap-2">
          <div class="text-xxs text-500">Matemáticas</div>
          <div class="text-xs font-semibold">
            17/<span class="text-primary">09</span>/2024
          </div>
        </div>
      </div>
    </div>
    <p-divider />
    <div class="font-bold flex justify-content-between w-full">
      <span>1er TRIMESTRE</span>
      <span class="text-sm font-medium"
        ><span class="text-primary">11</span>/12</span
      >
    </div>
  </div>
  <div class="px-3 w-full flex flex-column gap-3 mt-3">
    <p-button
      styleClass="w-full text-sm"
      label="Cerrar sesión"
      (onClick)="closeSession()"
    />
  </div>
</div>
<p-confirmDialog styleClass="w-auto md:w-5" position="bottom"></p-confirmDialog>
